
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/toastr")


<style>
        container {
            position: relative;

        }
         .container img {
            width:99%;
            height: 720px;
            opacity: 0.25;
            background-image: url('../../Content/airforceslogo.png');
        }

        .container .center {
            position: absolute;
            left: 0;
            top: 30%;
            width: 100%;
            text-align: center;
            font-size: 30px;
            font: oblique;
        }

       .container .btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #555;
                color: white;
                font-size: 16px;
                padding: 12px 24px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

        .container .btn:hover {
            background-color: rgba(85, 194, 248, 0.59);
        }


    </style>

    <body>






        <div class="container" >

            <div>
                <img />
            </div>
            @*<button class="btn1" onclick="displayToastr()">
        New Forum

    </button>*@
            @Html.ActionLink("New Form", "ProDetails", "ProductionForm",null,  new { @class = "btn btn-success" })
            
           

            <div class="center">Welcome to The ILS System</div>


        </div>


    </body>

<script>

   // document.getElementById("btnx").addEventListener("click",displayToastr());

    /* 
    $(document).ready(function () {


       btnx.onclick= displayToastr();
    });*/

    function displayToastr() {
       
        toastr.error('An error occured ', 'Please contact with system administrator.')

    }
</script>